
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySessionWfLabel" data-translate="ocrGatewayApp.sessionWf.home.createOrEditLabel">Create or edit a Session Wf</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sessionWf.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sessionWf.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrGatewayApp.sessionWf.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.sessionWf.status" id="field_status" required>
                <option value="DEFINED" data-translate="ocrGatewayApp.Status.DEFINED">DEFINED</option>
                <option value="LOADED" data-translate="ocrGatewayApp.Status.LOADED">LOADED</option>
                <option value="VALIDATED" data-translate="ocrGatewayApp.Status.VALIDATED">VALIDATED</option>
                <option value="READY" data-translate="ocrGatewayApp.Status.READY">READY</option>
                <option value="REQUESTED" data-translate="ocrGatewayApp.Status.REQUESTED">REQUESTED</option>
                <option value="WAITING" data-translate="ocrGatewayApp.Status.WAITING">WAITING</option>
                <option value="PROCESSING" data-translate="ocrGatewayApp.Status.PROCESSING">PROCESSING</option>
                <option value="COMPLETED" data-translate="ocrGatewayApp.Status.COMPLETED">COMPLETED</option>
                <option value="PROMISED" data-translate="ocrGatewayApp.Status.PROMISED">PROMISED</option>
                <option value="FULFILLED" data-translate="ocrGatewayApp.Status.FULFILLED">FULFILLED</option>
                <option value="PROCESSED" data-translate="ocrGatewayApp.Status.PROCESSED">PROCESSED</option>
                <option value="RESPONDED" data-translate="ocrGatewayApp.Status.RESPONDED">RESPONDED</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrGatewayApp.sessionWf.wfStatus" for="field_wfStatus">Wf Status</label>
            <select class="form-control" name="wfStatus" ng-model="vm.sessionWf.wfStatus" id="field_wfStatus" required>
                <option value="STARTING" data-translate="ocrGatewayApp.WfStatus.STARTING">STARTING</option>
                <option value="STARTED" data-translate="ocrGatewayApp.WfStatus.STARTED">STARTED</option>
                <option value="PROCESSING" data-translate="ocrGatewayApp.WfStatus.PROCESSING">PROCESSING</option>
                <option value="ABORTING" data-translate="ocrGatewayApp.WfStatus.ABORTING">ABORTING</option>
                <option value="ABORTED" data-translate="ocrGatewayApp.WfStatus.ABORTED">ABORTED</option>
                <option value="COMPLETING" data-translate="ocrGatewayApp.WfStatus.COMPLETING">COMPLETING</option>
                <option value="COMPLETED" data-translate="ocrGatewayApp.WfStatus.COMPLETED">COMPLETED</option>
                <option value="READY" data-translate="ocrGatewayApp.WfStatus.READY">READY</option>
                <option value="PUBLISHED" data-translate="ocrGatewayApp.WfStatus.PUBLISHED">PUBLISHED</option>
                <option value="RECEIVED" data-translate="ocrGatewayApp.WfStatus.RECEIVED">RECEIVED</option>
            </select>
            <div ng-show="editForm.wfStatus.$invalid">
                <p class="help-block"
                    ng-show="editForm.wfStatus.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrGatewayApp.sessionWf.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                    ng-model="vm.sessionWf.updatedBy"
                     />
        </div>

        <div class="form-group">
            <label data-translate="ocrGatewayApp.sessionWf.ocrSession" for="field_ocrSession">Ocr Session</label>
            <select class="form-control" id="field_ocrSession" name="ocrSession" ng-model="vm.sessionWf.ocrSessionId" ng-options="ocrSession.id as ocrSession.id for ocrSession in vm.ocrsessions"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
