
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEdmsLocationLabel" data-translate="ocrGatewayApp.edmsLocation.home.createOrEditLabel">Create or edit a Edms Location</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.edmsLocation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.edmsLocation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrGatewayApp.edmsLocation.actualDirectory" for="field_actualDirectory">Actual Directory</label>
            <input type="text" class="form-control" name="actualDirectory" id="field_actualDirectory"
                    ng-model="vm.edmsLocation.actualDirectory"
                    required />
            <div ng-show="editForm.actualDirectory.$invalid">
                <p class="help-block"
                    ng-show="editForm.actualDirectory.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="ocrGatewayApp.edmsLocation.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.edmsLocation.status" id="field_status" required>
                <option value="DEFINED" data-translate="ocrGatewayApp.Status.DEFINED">DEFINED</option>
                <option value="LOADED" data-translate="ocrGatewayApp.Status.LOADED">LOADED</option>
                <option value="VALIDATED" data-translate="ocrGatewayApp.Status.VALIDATED">VALIDATED</option>
                <option value="READY" data-translate="ocrGatewayApp.Status.READY">READY</option>
                <option value="REQUESTED" data-translate="ocrGatewayApp.Status.REQUESTED">REQUESTED</option>
                <option value="WAITING" data-translate="ocrGatewayApp.Status.WAITING">WAITING</option>
                <option value="PROCESSING" data-translate="ocrGatewayApp.Status.PROCESSING">PROCESSING</option>
                <option value="COMPLETED" data-translate="ocrGatewayApp.Status.COMPLETED">COMPLETED</option>
                <option value="PROMISED" data-translate="ocrGatewayApp.Status.PROMISED">PROMISED</option>
                <option value="FULFILLED" data-translate="ocrGatewayApp.Status.FULFILLED">FULFILLED</option>
                <option value="PROCESSED" data-translate="ocrGatewayApp.Status.PROCESSED">PROCESSED</option>
                <option value="RESPONDED" data-translate="ocrGatewayApp.Status.RESPONDED">RESPONDED</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                    ng-show="editForm.status.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="ocrGatewayApp.edmsLocation.edmsResponse" for="field_edmsResponse">Edms Response</label>
            <select class="form-control" id="field_edmsResponse" name="edmsResponse" ng-model="vm.edmsLocation.edmsResponseId" ng-options="edmsResponse.id as edmsResponse.id for edmsResponse in vm.edmsresponses | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
